* {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 4060px) {
  * {
    font-size: 16px;
  }
}
@media only screen and (max-width: 300px) {
  * {
    font-size: 4px;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
}
.containerWrapper {
  min-height: 87vh;
  min-width: 40vw;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: linear-gradient(
    to right top,
    #623a08,
    #6a3805,
    #733404,
    #7c3005,
    #852a09
  );
}
.contentWrapper {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 47vh;
  min-width: 20vw;
}
.searchInput {
  width: 17.7em;
  height: 2.5em;

  background-color: white;
}
.containerOfTheElements {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 20em;
  align-items: center;

  justify-content: space-evenly;
}
.element {
  background-color: #f0d04f;
  width: 30em;
  height: 5em;
  font-size: 0.5em;

  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;

  border-radius: 15px;
}
.element:hover {
  opacity: 0.5;
  background-color: yellow;
}
.input {
  background-color: white;
}
.input:hover {
  background-color: white;
  opacity: 1;
}
